VITE_SUPABASE_URL=https://cuzqrdxvtkicrapyykyj.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN1enFyZHh2dGtpY3JhcHl5a3lqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk2Mzg1NDYsImV4cCI6MjEwNTIxNDU0Nn0.Tfpy7iYyOQfgrXLT9YEXKZsusz-zlj7NhPDjpLbJrs0
